body{
    background-image: url('../img/graduation-bg.png');
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 70px;
    margin: 0;
    font-family: sans-serif;
}

.wrapper{
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
}

section p{
    text-align: justify;
}

section h3{
    text-align: center;
}

/*** Presentación universidades (index.php) ***/
#top-universidades{
    width: 100%;
    overflow-x: scroll;
}
#top-universidades > div > .slide{
    padding: 5px;
    float: left;
    width: 178px;
}

#top-universidades > div > .slide img{
    width: 100%;
}

.slide:hover{
    border: 2px solid #46B552;
}
/*** FIN presentación universidades ***/

.teaser .panel .panel-body h3{
    text-align: left;
    margin: 9px;
}

.teaser .panel .panel-body .teaser-icon{
    margin-left: 15px;
    text-align: right;
    font-size: 2.2em;
    margin-top: 9px;
}

.go-icon{
    text-align: right;
    font-size: 1.5em;
}

.teaser{
    margin: 5px 0 5px 0;
}

.upload-perfil{
    padding: 5px;
    /*text-align: center;*/
}

.upload-perfil img{
    margin: 5px;
    float: left;
    width: 100px;
}

.info-apuntes{
    text-align: center;
    font-size: 2em;
}

.info-apuntes p > span{
    margin: 15px;
}

#head-apunte{
    background-color: #f7f7f7;
    border: 1px solid #E8E8E8;
    padding: 7px;
    border-radius: 4px;
}

#error-page, #error-page p{
    text-align: center;
}

#error-page img{
    display: inline;
}

#error-page h1{
    font-weight: bold;
    font-size: 5em;
}

.img-registro{
    text-align: center;
}

#imgperfil{
    max-width: 50%;
}

#imgportada{
    width: 100%;
}