body{
    background-image: url('../img/graduation-bg.png');
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 70px;
}

.wrapper{
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
}

#descripcion{
    text-align: justify;
}

section{
    margin-top: 35px;
    margin-bottom: 35px;
}

main{
    padding: 10px;
}

footer{
    background-color: #383838;
    border-top: 3px solid #113315;
    margin: 10px -15px 0 -15px;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
    color: #222;
    text-shadow: 0px 1px 0px #4d4d4d;
}

footer strong{
    color: #151515;
}

footer ul{
    list-style: none;
}

section h3{
    text-align: center;
}

.mini-logo{
    width: 100px;
}

.slide{
    padding: 5px;
}

.slide:hover{
    border: 2px solid #46B552;
    overflow: hidden;
    height: 100%;
}

.teaser .panel .panel-body h3{
    text-align: left;
    margin: 9px;
}

.teaser .panel .panel-body .teaser-icon{
    margin-left: 15px;
    text-align: right;
    font-size: 2.2em;
    margin-top: 9px;
}

.go-icon{
    text-align: right;
}

.teaser{
    margin: 5px 0 5px 0;
}

footer .logo img{
    width: 70px;
}

footer .logo p{
    color: #fff;
    text-align: center;
}

.upload-perfil{
    padding: 5px;
    /*text-align: center;*/
}

.upload-perfil img{
    margin: 5px;
    float: left;
    width: 100px;
}

.info-apuntes{
    text-align: center;
    font-size: 2em;
}

.info-apuntes p > span{
    margin: 15px;
}