body{  
  margin:20px;
 
}

.picture {
  float: left;  
  background: gainsboro;
}

.profile-img {
  /*Ancho de imagen*/
  width: 130px;
   /*Imagen redondeada
  con borde blanco*/
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 0 0;
}

/*Status general*/
.status {
  position: relative;
  /*Estado de contacto
  y desplazo a la derecha*/
  top: -40px;
  right: -105px;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 100%;  
}
/*Status on*/
.status-red {
  background-color: red;
}
/*Status off*/
.status-green {
  background-color: green;
}
