/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-abr-2015, 22:48:40
    Author     : Jonathan
*/

body {
  background: #f2f2f2;
  font-family:Arial;
  font-size:12px;
}
.profile {
 
  background:#fff;
  border: solid 1px #ddd;
  border-radius:3px;
 

  
}



.profile .fondo {
 
  background: whitesmoke;
  border: solid 1px #eee;
  /*Para que pueda montar una imagen encima de ella */
  position:relative;
  
}


.profile .fondo .img {

  /*Tendria que ampliar
  la imagen de fondo al 100
  
  NO LO HACE!! :(
  
  
  */
 width: 100%;
  
   
}



.profile .avatar {
  background: #fff;
  border: solid 1px #eee;
  padding:3px;
  border-radius:3px;
  /*width:80px;
  height:90px;*/
  margin-left:20px;
 
  position:relative;
  float:left;
  top:-30px
}

.profile .avatar img{
  border-radius:5px;
  /*width:80px;
  eight:90px;*/
}

.profile .description h3 {
  margin: 0px;
  color:#444;
}
.profile .description p{
  /*line-height:20px;*/
}
.profile .social {
  padding:0px;
  /*margin:10px 20px 20px 20px;
  color:white;*/
  float: right;
  
  
}
.profile .social li {
  float:left;
  list-style:none;
  padding:10px;
  margin-right:5px;
  border-radius:2px;
  line-height:20px;
  color:white;
  font-size:14px;
}


.profile .social h2  {
  line-height:10px;
  color:white;
 // font-size:15px;
}


.profile .social li.posts {
   background:#3a5795;
}
.profile .social li.comments{
  background:#517fa4;
}
.profile .social li.files{
  background:#dd4b39;
}

